@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0%;
}

body {
    background: url(../images/backgroundindex.png);
    background-size: cover;
    background-position: center;
     min-height: 100vh;
    background-position: center;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-family: 'Prompt', sans-serif;
    font-size: 22px;
}

nav img {
    width: 80px;
}

nav a {
    margin-left: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav a:hover {
    color: rgb(84, 84, 84);

}

.logname {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 30px;
    padding-left: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .social {
margin-top: 10px;
}

header, footer {
  background-color: rgb(255, 255, 255);
  padding: 5px 100px;
  z-index: 1;
  border: 1px solid grey;
}

header{
    padding: 5px 60px !important; 
}







footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.copyright{
    font-family: 'Prompt', sans-serif;
    color: rgba(12, 12, 12, 0.74);
    text-align: justify;
    margin-right: 25px;
    padding-top: 10px;
}


main {
   font-family: 'Young Serif', serif;
   text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.452);
   margin-top: 200px;
   text-align: center;
   background-color: rgba(255, 255, 255, 0.806);
   padding-top: 20px;
   padding-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 90%;
    height: 2.5rem;
    display: flex;
    justify-content: space-around;
}


.quote {
     text-align: center;
     display: flex;
     justify-content: center;
}

button {
    font-family: 'Young Serif', 'Serif';
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.829);
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
}

button:hover {
    color: white;
    background-color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgba(107, 107, 107, 0.922);
}

main img {
    width: 350px;
}

.icon {
    width: auto;

}

a:hover button {
    transform: scale(1.020);
}
